<!DOCTYPE html>
<html>

<head>
  <title>John Livingston</title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  <link rel="stylesheet" href="./styles.css">
</head>

<body>
  <section class="container">
    <section class="grid1">
      <section class="subgrid1">
        <section class="header subgrid12">
          <p>GEOSAVE</p>
          <span class="sub_header">Technology that gives back...</span>
        </section>
        <section class="subgrid13">
        <form action='/login' method='GET'>
            <button class="btn" type="submit">Login</button>
        </form>
          <form action='/users/new' method='GET'>
            <button class="btn" type="submit">Sign Up</button>
          </form>
        </section>
      </section>
      <!-- src="images/GeoDudeLogo.png" alt="GeoDude Logo"> -->
    </section>
    <section class="grid2">
      <section class="subgrid2">
        <section class="subgrid21">
          <p>A GEOMARKETING APPLICATION</p>
        </section>
      </section>
    </section>
  </section>
</body>

</html>