<h2>Routes:</h2>
<% @user.routes.each do |route| %>
  <ul>
  <li><%= route.start%> --> <%= route.finish%></li>
    <% route.companies.each do |company| %>
      <li><%= company.name %></li>
    <%end%>
  </ul>
<%end%>